.badge-section {
  background-color: rgba(37, 28, 36, 0.97);
  height: 98vh;
  width: 5vw;
}

.badge-section > ul > li {
  list-style-type: none;
}

.btn-badge {
  color: #514A50;
  font-family: 'Open sans', sans-serif;
  font-weight: bolder;
  font-size: 23px;
  margin-right: 30rem;
  text-decoration: none;
}

.btn-badge:hover {
  text-decoration: none;
  color: white;
}

.btn-badge-active {
  color: white;
  background: #514A50;
  border-radius: 6px;
}